@page "/NuevaFactura"

<AuthorizeView Roles="Administrador, Usuario">
    <Authorized Context="AuthenticationState">

        <EditForm Model="@factura">
            
              <div class="form-group row">
                  <div class="col-3">
                      <div align="center">
                           <img src="logo1.png " width="80" height="80"  />
                      </div>
                  </div

                  <div class="col-6">
                      <div align="center">
                         <h2>FITNESS CENTER</h2>
                         <h3>ADIÓS EXCUSAS BIENVENIDO DOLOR, SUDOR Y RESULTADOS...</h3>
                      </div>
                  </div>

                  <div class="col-3">
                      <div align="center">
                          <img src="logo1.png " width="80" height="80"  />
                      </div> 
                  </div>

              </div>

             <br/>
            <div class="rz-card card" style="width: 100%">
                <div class="form-group row">
                    <div class="col-md-3">
                        <b>Fecha:</b>
                        <RadzenDatePicker @bind-Value=@factura.Fecha DateFormat="d" Class="w-100" />
                    </div>
                    <div class="col-md-3">
                        <b>Fecha de Vencimiento del Servicio:</b>
                        <RadzenDatePicker @bind-Value=@factura.FechaVencimiento DateFormat="d" Class="w-100" />
                    </div>
                    <div class="col-md-6">
                        <b>Cliente:</b>
                        <InputText id="Cliente" class="form-control" @bind-Value="factura.Cliente" />
                    </div>

                </div>
                
                <div class="form-group row">
                        <div class="col-md-3">
                            <b>Código Servicio:</b>
                            <InputText id="Codigo" class="form-control" @bind-value="codigoServicio"  ValueExpression="@( () => @codigoServicio)" @onkeypress="@BuscarServicio" />
                        </div>
                        <div class="col-md-6">
                            <b>Servicio:</b>					
                            <InputText readonly id="Descripcion" class="form-control" @bind-value="@service.Descripcion" ValueExpression="@( () => @service.Descripcion)" />
                        </div>

                        <div class="col-md-2">
                            <b>Seleccione el tiempo:</b>
					        <InputSelect class="form-control" @bind-Value="service.Tiempo">
						        @foreach (var tiempo in Enum.GetValues(typeof(TipoPrecio)))
						        {
							        <option value="@tiempo">@tiempo</option>
						        }
					        </InputSelect>
					        <ValidationMessage For="@(() => service.Tiempo)" />
				        </div>

                        <div class="col-md-1">
                            <b>Agregar</b>
                            <input type="submit" class="btn btn-primary" value="Agregar" @onclick="AgregarServicio" />
                        </div>
                </div>
            </div>
            <br/>

            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Servicio</th>
                        <th>Tiempo</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var det in listaDetalleFactura)
                    {
                        <tr>
                            <td>@det.CodigoServicio</td>
                            <td>@det.Servicio</td>
                            <td>@det.Tiempo</td>
                            <td>@det.Precio</td>
                            <td>@det.Total</td>
                        </tr>
                    }
                </tbody>
            </table>

            <br/>
            <div align="right">
                <div class="form-group row">
				    <label for="SubTotal" class="col-sm-10 col-form-label">SubTotal</label>
				    <div class="col-md-2">
					    <InputNumber readonly id="SubTotal" TValue="Decimal" class="form-control" @bind-value="factura.Subtotal" ValueExpression="@( () => factura.Subtotal )"/>
				    </div>
                </div>

                <div class="form-group row">
				    <label for="Descuento" class="col-sm-10 col-form-label">Descuento</label>
				    <div class="col-md-2">
					    <InputNumber id="Descuento" TValue="Decimal" class="form-control" @bind-value="factura.Descuento" ValueExpression="@( () => factura.Descuento )"/>
				    </div>
                </div>

                <div class="form-group row">
				    <label for="ISV" class="col-sm-10 col-form-label">Impuesto</label>
				    <div class="col-md-2">
					    <InputNumber readonly id="ISV" TValue="Decimal" class="form-control" @bind-value="factura.ISV" ValueExpression="@( () => factura.ISV )"/>
				    </div>
                </div>

                <div class="form-group row">
				    <label for="Total" class="col-sm-10 col-form-label">Total</label>
				    <div class="col-md-2">
					    <InputNumber readonly id="Total" TValue="Decimal" class="form-control" @bind-value="factura.Total" ValueExpression="@( () => factura.Total )"/>
				    </div>
                </div>

                <div align="right">
                     <input type="submit" class="btn btn-primary" value="Guardar Factura" @onclick="Guardar" />
                </div>

            </div>
            <div align="center">
                <h3>GRACIAS POR SU PREFERENCIA</h3>
                
            </div>

        </EditForm>

       
    </Authorized>
</AuthorizeView>

